body {
    background-image: url(../img/flag.jpg);
    
}

h3{
    font-size: x-large;
    color:white;
    text-align: center;
    padding-bottom:30px;
}
.converting{
    margin: 0 auto;
    width: 800px;
    text-align:center;
    background-color: silver;
    padding-top:5px;
    padding-bottom:15px;
    border:2px solid black;
    margin-top:15px;
  }
  
    

.input-group {
        
        justify-content: center;
        
        
}

h1{
    text-align: center;
}


