body {
    background-image: url(../img/flag.jpg);
    
}

.converting{
    margin: 0 auto;
    width: 600px;
    text-align:center;
    background-color: silver;
    padding-top:5px;
    padding-bottom:15px;
  }
  
    

.input-group {
    width: 20px;
}
h1{
    text-align: center;
}


